name: Docker Image CI

on:
  push:
    branches: [main]

env:
  OPENSSL_VERSION: 3.6.0

jobs:
  build:
    strategy:
      matrix:
        python_version: ["3.13.11", "3.14.2", "3.15.0a3"]
        arch: ["amd64", "arm64"]
    runs-on: ${{ matrix.arch == 'amd64' && 'ubuntu-latest' || 'ubuntu-24.04-arm' }}
    env:
      PYTHON_VERSION: ${{ matrix.python_version }}
      ARCH: ${{ matrix.arch }}
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
    steps:
      - uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build the Docker image
        run: bash src/build_image.sh
      - name: Test the image
        run: bash src/test_image.sh
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Push the Image
        run: |
          docker push ${DOCKERHUB_USERNAME}/debian-slim-python:${PYTHON_VERSION}-${ARCH}

  create-manifest:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version: ["3.13.11", "3.14.2", "3.15.0a3"]
    env:
      PYTHON_VERSION: ${{ matrix.python_version }}
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Create and Push Multi-Arch Manifest
        run: |
          docker manifest create ${DOCKERHUB_USERNAME}/debian-slim-python:${PYTHON_VERSION} \
            --amend ${DOCKERHUB_USERNAME}/debian-slim-python:${PYTHON_VERSION}-amd64 \
            --amend ${DOCKERHUB_USERNAME}/debian-slim-python:${PYTHON_VERSION}-arm64
          docker manifest push ${DOCKERHUB_USERNAME}/debian-slim-python:${PYTHON_VERSION}

      - name: Retag and Push Major.Minor Manifest
        run: |
          docker manifest create ${DOCKERHUB_USERNAME}/debian-slim-python:${PYTHON_VERSION%.*} \
            --amend ${DOCKERHUB_USERNAME}/debian-slim-python:${PYTHON_VERSION}-amd64 \
            --amend ${DOCKERHUB_USERNAME}/debian-slim-python:${PYTHON_VERSION}-arm64
          docker manifest push ${DOCKERHUB_USERNAME}/debian-slim-python:${PYTHON_VERSION%.*}
