name: Docker Image CI

on:
  push:
    branches-ignore: [main]
  pull_request:
    branches: [main]

env:
  OPENSSL_VERSION: 3.6.1
  QUICK_BUILD: true

jobs:
  build:
    strategy:
      matrix:
        python_version: ["3.13.12", "3.14.3", "3.15.0a5"]
        arch: ["amd64", "arm64"]
    runs-on: ${{ matrix.arch == 'amd64' && 'ubuntu-latest' || 'ubuntu-24.04-arm' }}
    env:
      PYTHON_VERSION: ${{ matrix.python_version }}
      ARCH: ${{ matrix.arch }}
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
    steps:
      - uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build the Docker image
        run: bash src/build_image.sh
      - name: Test the image
        run: bash src/test_image.sh
